<configuration version="16">
    <folder id="omarp-2gwhm" label="Keepass" path="/home/benny/Sync/Keepass/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="GMWTJD4-OJUWMFZ-RYH525P-7EYXJSJ-TGVABD6-NQ36K4Y-IQDSP7Z-HADXZQ2"></device>
        <device id="HEIKLUW-VBLQMG3-JOB22LJ-7WPHII2-PGHK523-32UMBRE-VO4V534-WQAW7QW"></device>
        <device id="MO4GLGE-NFW4DED-5H6FONH-ARF3AN3-MJACRKM-T22J4W7-HHM3ZJ6-DHIT6QC"></device>
        <device id="SMJMXWI-TJSE2CZ-TNBKMLC-XBAYXG5-Q6SJ2SI-5DUFLXP-U6TAQBD-2F2RAAH"></device>
        <device id="XFLOFVK-DYUXL6M-P3CET5C-UFVV2A5-IT5GBOR-CJO47AW-YCNOWOI-5TUUUQ5"></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
    </folder>
    <folder id="svcwh-k54e9" label="Music" path="/home/benny/Sync/Music/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="GMWTJD4-OJUWMFZ-RYH525P-7EYXJSJ-TGVABD6-NQ36K4Y-IQDSP7Z-HADXZQ2"></device>
        <device id="MO4GLGE-NFW4DED-5H6FONH-ARF3AN3-MJACRKM-T22J4W7-HHM3ZJ6-DHIT6QC"></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
    </folder>
    <folder id="ky4kd-b23j6" label="MusicDownloads" path="/home/benny/Sync/MusicDownloads/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="GMWTJD4-OJUWMFZ-RYH525P-7EYXJSJ-TGVABD6-NQ36K4Y-IQDSP7Z-HADXZQ2"></device>
        <device id="HEIKLUW-VBLQMG3-JOB22LJ-7WPHII2-PGHK523-32UMBRE-VO4V534-WQAW7QW"></device>
        <device id="MO4GLGE-NFW4DED-5H6FONH-ARF3AN3-MJACRKM-T22J4W7-HHM3ZJ6-DHIT6QC"></device>
        <device id="XFLOFVK-DYUXL6M-P3CET5C-UFVV2A5-IT5GBOR-CJO47AW-YCNOWOI-5TUUUQ5"></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
    </folder>
    <folder id="4ntbi-dmjvc" label="Notes" path="/home/benny/Sync/Notes/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="GMWTJD4-OJUWMFZ-RYH525P-7EYXJSJ-TGVABD6-NQ36K4Y-IQDSP7Z-HADXZQ2"></device>
        <device id="HEIKLUW-VBLQMG3-JOB22LJ-7WPHII2-PGHK523-32UMBRE-VO4V534-WQAW7QW"></device>
        <device id="MO4GLGE-NFW4DED-5H6FONH-ARF3AN3-MJACRKM-T22J4W7-HHM3ZJ6-DHIT6QC"></device>
        <device id="SMJMXWI-TJSE2CZ-TNBKMLC-XBAYXG5-Q6SJ2SI-5DUFLXP-U6TAQBD-2F2RAAH"></device>
        <device id="XFLOFVK-DYUXL6M-P3CET5C-UFVV2A5-IT5GBOR-CJO47AW-YCNOWOI-5TUUUQ5"></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
    </folder>
    <folder id="jpe9g-rd9ps" label="ROMs" path="/home/benny/Sync/ROMs/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="GMWTJD4-OJUWMFZ-RYH525P-7EYXJSJ-TGVABD6-NQ36K4Y-IQDSP7Z-HADXZQ2"></device>
        <device id="HEIKLUW-VBLQMG3-JOB22LJ-7WPHII2-PGHK523-32UMBRE-VO4V534-WQAW7QW"></device>
        <device id="MO4GLGE-NFW4DED-5H6FONH-ARF3AN3-MJACRKM-T22J4W7-HHM3ZJ6-DHIT6QC"></device>
        <device id="SMJMXWI-TJSE2CZ-TNBKMLC-XBAYXG5-Q6SJ2SI-5DUFLXP-U6TAQBD-2F2RAAH"></device>
        <device id="XFLOFVK-DYUXL6M-P3CET5C-UFVV2A5-IT5GBOR-CJO47AW-YCNOWOI-5TUUUQ5"></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
    </folder>
    <folder id="ru9dq-truuf" label="VideoDownloads" path="/home/benny/Sync/VideoDownloads/" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="GMWTJD4-OJUWMFZ-RYH525P-7EYXJSJ-TGVABD6-NQ36K4Y-IQDSP7Z-HADXZQ2"></device>
        <device id="HEIKLUW-VBLQMG3-JOB22LJ-7WPHII2-PGHK523-32UMBRE-VO4V534-WQAW7QW"></device>
        <device id="MO4GLGE-NFW4DED-5H6FONH-ARF3AN3-MJACRKM-T22J4W7-HHM3ZJ6-DHIT6QC"></device>
        <minDiskFreePct>1</minDiskFreePct>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerSleepS>0</pullerSleepS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
    </folder>
    <device id="GMWTJD4-OJUWMFZ-RYH525P-7EYXJSJ-TGVABD6-NQ36K4Y-IQDSP7Z-HADXZQ2" name="Benny-Arch" compression="always" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="HEIKLUW-VBLQMG3-JOB22LJ-7WPHII2-PGHK523-32UMBRE-VO4V534-WQAW7QW" name="FedoraVPS" compression="always" introducer="true">
        <address>dynamic</address>
    </device>
    <device id="MO4GLGE-NFW4DED-5H6FONH-ARF3AN3-MJACRKM-T22J4W7-HHM3ZJ6-DHIT6QC" name="Benny-Arch-XPS" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="SMJMXWI-TJSE2CZ-TNBKMLC-XBAYXG5-Q6SJ2SI-5DUFLXP-U6TAQBD-2F2RAAH" name="Benny-Xperia" compression="always" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="XFLOFVK-DYUXL6M-P3CET5C-UFVV2A5-IT5GBOR-CJO47AW-YCNOWOI-5TUUUQ5" name="Benny-Win-XPS" compression="always" introducer="false">
        <address>dynamic</address>
    </device>
    <gui enabled="true" tls="false" debugging="false">
        <address>127.0.0.1:8384</address>
        <apikey>Nw5rMGDj9My975bkAC2HS35uSMREb3fH</apikey>
        <theme>dark</theme>
    </gui>
    <options>
        <listenAddress>default</listenAddress>
        <globalAnnounceServer>default</globalAnnounceServer>
        <globalAnnounceEnabled>true</globalAnnounceEnabled>
        <localAnnounceEnabled>true</localAnnounceEnabled>
        <localAnnouncePort>21027</localAnnouncePort>
        <localAnnounceMCAddr>[ff12::8384]:21027</localAnnounceMCAddr>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <reconnectionIntervalS>60</reconnectionIntervalS>
        <relaysEnabled>true</relaysEnabled>
        <relayReconnectIntervalM>10</relayReconnectIntervalM>
        <startBrowser>false</startBrowser>
        <natEnabled>true</natEnabled>
        <natLeaseMinutes>60</natLeaseMinutes>
        <natRenewalMinutes>30</natRenewalMinutes>
        <natTimeoutSeconds>10</natTimeoutSeconds>
        <urAccepted>2</urAccepted>
        <urUniqueID>jCx5FKyv</urUniqueID>
        <urURL>https://data.syncthing.net/newdata</urURL>
        <urPostInsecurely>false</urPostInsecurely>
        <urInitialDelayS>1800</urInitialDelayS>
        <restartOnWakeup>true</restartOnWakeup>
        <autoUpgradeIntervalH>12</autoUpgradeIntervalH>
        <keepTemporariesH>24</keepTemporariesH>
        <cacheIgnoredFiles>false</cacheIgnoredFiles>
        <progressUpdateIntervalS>5</progressUpdateIntervalS>
        <symlinksEnabled>true</symlinksEnabled>
        <limitBandwidthInLan>false</limitBandwidthInLan>
        <minHomeDiskFreePct>1</minHomeDiskFreePct>
        <releasesURL>https://upgrades.syncthing.net/meta.json</releasesURL>
        <overwriteRemoteDeviceNamesOnConnect>false</overwriteRemoteDeviceNamesOnConnect>
        <tempIndexMinBlocks>10</tempIndexMinBlocks>
    </options>
</configuration>
